@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import '../../modules/theme/theme.less';
// declnpm raring global colors in this section, who knows... maybe we'll make it themable

html {
    width: 100%;
    height: 100%;
    color: var(--text-color);
}

body {
    font: var(--body-font);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-background);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;

    *:defined:not(style):not(link):not(script):not(:where(div, span, p, hr)) {
        display: flex;
        box-sizing: border-box;
    }

    div {
        box-sizing: border-box;
    }

    app-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .top-navigation {
            display: flex;
            align-items: center;
            column-gap: 5px;
            background: var(--body-background);
            box-shadow: var(--menu-shadow);

            .top-menu {
                display: flex;
                flex: 1;
                align-items: center;

                .top-app-menu {
                    display: flex;
                    flex: 1;
                }

                .top-ctx-menu {
                    display: flex;
                    padding-right: 20px;
                }
            }
        }

        .app-body {
            position: relative;
            display: flex;
            flex: 1;
        }
    }

    textarea, input {
        background-color: var(--textarea-background);
        color: var(--text-color);
        border: 1px solid black;
    }
}

div.vis-manipulation {
    background-color: var(--textarea-background);
}

.disabled {
    opacity: 0.5;
    pointer-events: none; /* Prevent any interactions with disabled items */
}

theme-button {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    left: 5px;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--hover-buttons);
    }

    &:active {
        opacity: var(--active-opacity);
    }

    &.selected {
        background: var(--hover-buttons);
    }
}