:root {
    --body-background: #fff;
    --nav-background: #fff;
    --hover-buttons: #ddd;
    --selected-button: #eee;
    --font-color: #000;
    --text-color: #000;
    --sepparator: solid 1px #ddd;
    --menu-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
    --drawer-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.12);
    --active-opacity: .6;
    --category-font: normal 600 16px "Roboto", sans-serif;
    --body-font: normal 400 14px "Roboto", sans-serif;
    --input-background: #fff;
    --textarea-background: #fff;
    --svg-primary-fill: #007bff; 
    --svg-secondary-fill: #ffffff; 
    --svg-primary-stroke: #333333;
    --svg-blanket: #f0e4d7;
    --svg-pillow: #e6f7ff;
}

[data-theme="dark"] {
    --body-background: #515151;
    --nav-background: #3C3C3C;
    --hover-buttons: gray;
    --selected-button: #999;
    --font-color: #fff;
    --text-color: #cc5500;
    --sepparator: solid 1px #000;
    --menu-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.3);
    --drawer-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2);
    --active-opacity: .6;
    --category-font: normal 600 16px "Roboto", sans-serif;
    --body-font: normal 400 14px "Roboto", sans-serif;
    --input-background: #777777;
    --textarea-background: #777777;
    --svg-primary-fill: #ff7f00;
    --svg-secondary-fill: #ffffff;
    --svg-primary-stroke: #dcdcdc;
    --svg-blanket: #5a3e85;
    --svg-pillow: #3e3ed1;
}
